*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#items{
    position: relative;
}

.text{
    position: absolute;
    color: rgb(255, 255, 255);
    text-align: justify;
    text-align-last: right;
    bottom:15px;
    right: 10px;
}

#items img{
    height:352px;
}

.thumb img{
    display:flex;
    flex-direction: row;
    width:149px;
    filter: brightness(50%)
}

#thumbs{
    margin-bottom:5px;
} 

.active img{
    filter: brightness(100%);
    border: 3px solid rgb(204, 204, 204);
}

#prev{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      font-size:40px;
}

#next{
    display: flex;
    justify-content: center;
    font-size:40px
}

#buttons{
    margin-left: 30px;
}